<h3>予約一覧</h3>
<table>
 <thead>
    <tr>
      <th></th>
      <th class=col-3>施設名</th>
      <th class=col-2>詳細</th>
      <th class=col-2>住所</th>
      <th class=col-2>料金</th>
      <th class=col-3>開始日</th>
      <th class=col-3>終了日</th>
      <th class=col-4>人数</th>
      <th class=col-4>予約確定日</th>
    </tr>
 </thead>

  <tbody>    
    <tr> 
      <% @reservations.each do |reservation|%>
      <td><%= image_tag reservation.room.image.to_s, size:"50x50"%></td> 
      <td class="col-3"><%= link_to reservation.room.roomname, room_path(reservation.room_id) %></td>
      <td class=col-2><%= reservation.room.detail %></td>
      <td class=col-2><%= reservation.room.address %></td>
      <td class=col-2>¥<%= reservation.total %></td>
      <td class=col-3><%= reservation.check_in.to_s(:creteatime_jp) %></td>
      <td class=col-3><%= reservation.check_out.to_s(:creteatime_jp) %></td>
      <td class=col-4><%= reservation.number %></td>
      <td class=col-4><%= reservation.created_at.to_s(:datetime_jp) %></td>
    </tr>  
      <% end %>
  </tbody>
</table>


