<header>
  <nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
    <div class="navbar-brand">
      <h2 class= "text-light"><%= link_to "旅サイト",users_path,class:'text-secondary'%></h2>
    </div>

    <ul class="collapse navbar-collapse justify-content-end">
      <% if user_signed_in? %> 
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            href="#" 
            id="navbarDropdown" 
            role="button" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-userimage.png",size: "40x40" %>               
            <%= current_user.username %>
          </a>  
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%=link_to"施設の新規登録", new_room_path,class: "text-secondary", class:"dropdown-item"%>  
            <%= link_to "アカウント確認", user_path(current_user), class:"dropdown-item" %>
            <%= link_to "予約情報確認",  reservation_path(current_user), class:"dropdown-item" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-secondary", class:"dropdown-item" %>

          </div>
        </div>        
           
      <% else %>
        <%= link_to "ログイン", new_user_session_path, class: "text-light"  %>
        <%= link_to "新規登録", new_user_registration_path, class: "text-light" %>
      <% end %>
    </ul>
  </nav>
</header>