<!DOCTYPE html>
<html>
  <head>
    <title>RailsReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %> 
    <div class="notification is-info">
      <p class="notice"><%= notice %></p>
    </div>
  <% end %>

  <% if flash[:alart] %>
    <div class="notification is denger">
      <p class="alert"><%= alert %></p>
    </div>
  <% end %>
  
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  

  <%= render 'shared/haeder' %>

  <%= yield %>
  </body>
</html>
